* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.table .row {
    display: inline-flex;
    gap: 12px;
}

.row .cell {
    width: 50px;
    height: 50px;
    background-color: red;
}
