* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #2c2c54;
    color: #fff;
    -webkit-box-shadow: 0 3px 10px 6px rgba(57, 63, 72, 0.4);
    -moz-box-shadow: 0 3px 10px 6px rgba(57, 63, 72, 0.4);
    box-shadow: 0 3px 10px 6px rgba(57, 63, 72, 0.4);
}

.container-marks {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px;
}

.player {
    text-align: center;
}

/* CONTENT */
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table .row {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    /* gap: 1px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row .cell {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: 1s;
    width: 120px;
    height: 120px;
    background-color: #a40e4c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
}

/* MODAL */
.modal {
    width: 400px;
    height: 220px;
    background-color: #2c2c54;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    animation: showModal;
    animation-duration: 1.2s;
    opacity: 0.96;
}

.modal .text-winner {
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
}

.modal.hidden {
    display: none;
}

.overlay.hidden {
    display: none;
}

button.restart {
    border: 0;
    padding: 13px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

/* OVERLAY */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    animation: showOverlay;
    animation-duration: 0.3s;
    opacity: 0.6;
}

@keyframes showModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.95;
    }
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}
